* {
    margin: 0;
    padding: 0px;
}

.outer-window {


    overflow: hidden;
    padding: 20px;

}

.div1 {
    display: flex;
    width: 90%;
    padding: 30px;

}

.div2 {
    width: 80%;

}

a {
    text-decoration: none;
}

.heading {
    color: #000000;
    width: 90%;
    font-size: 31px;
    padding: 10px;

}

.standfirst {
    color: #606669;
    width: 90%;
    font-size: 19px;
    padding: 10px;
}

.category {
    color: rgb(35, 111, 192);
    font-size: 18px;
    padding: 10px;
}